<!DOCTYPE HTML>
<html>
<head>
    <title>CodeJet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="static/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h1 class="header-white " style="text-align: left;">Success !</h1>
<!--    <p>Ipsum dolor sit amet nullam</p>-->
    </header>
    <!-- Main -->
    <div id="main">
        <!-- Content -->
        <section id="content" class="main">
<!--        <span class="image main"><img src="static/images/pic04.jpg" alt=""/></span>-->
            <h2>Your email inquiry has been sent</h2>
            <p>
                Thank you for you interest in our services! Please allow  3 to 5 business days for us to respond to your message.
                <br/>
                Have a great day!
            </p>
<!--        <p>
                Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem-->
<!--            diam, vitae egestas enim auctor sit amet. Consequat leo mauris, consectetur id ipsum-->
<!--            sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit-->
<!--            enim turpis lorem ipsum dolor sit amet feugiat. Phasellus convallis elit id-->
<!--            ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis.-->
<!--            Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet est-->
<!--            velit quis lorem.
            </p>-->
        </section>
    </div>

    <!-- Footer -->
   <footer id="footer" class="bolder-text">
            <section>
                <img src="static/images/code_jet/codejet_red_bg.jpg" >
                <p>
                    CodeJet is dedicated to giving SME’s the lift-off they need to focus on things more important than
                    spreadsheets and one-off queries.
                </p>
                <ul class="actions">
                    <li>
                        <a href="/" class="button">Return Home</a>
                    </li>
                </ul>
            </section>
            <section style="padding-top: 35px;">
                <h2 class="bolder-text">Contact Information </h2>
                <dl class="alt text-align-right">
                    <dt>Phone</dt>
                    <dd>(336) 302-7925</dd>
                    <dt>Email</dt>
                    <dd>jbroach@codejet.app</dd>
                </dl>
<!--                <ul class="icons">-->
<!--                    <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>-->
<!--                </ul>-->
            </section>
            <p class="copyright">&copy;Design by: HTML5 UP | Implemented and constructed by <a href="https://aaronboylesportfolio.azurewebsites.net/">Aaron Boyles</a></p>
        </footer>
</div>

<!-- Scripts -->
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery.scrollex.min.js"></script>
<script src="static/assets/js/jquery.scrolly.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>

</body>
</html>