<!DOCTYPE HTML>
<html>
<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LehmW0rAAAAANOuTO8pxfN_WL28pYoIggjREAnT"></script>
    <title>CodeJet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" style="img-round" type="image/x-icon" href="static/images/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/assets/css/main.css"/>
    <link rel="stylesheet" href="static/assets/css/noscript.css"/>
    <script src="https://kit.fontawesome.com/5e1de81346.js" crossorigin="anonymous"></script>
</head>
<body class="is-preload">
    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt" style="padding-bottom: 40px; padding-top:10px;">
            <span class="logo" style="padding-bottom:10px; ">
                <img src="static/images/code_jet/code_jet_logo.jpg" alt="code-jet-logo"/>
            </span>
        </header>

        <!-- Nav -->
        <nav id="nav" >
            <ul>
                <li><a href="#intro" class="active">Code Jet</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#use_case">Use Cases</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <!-- Introduction -->
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h1 class="bolder-text">From POS to ERP— Integrate Seamlessly with CodeJet</h1>
                        </header>
                        <p>
                            CodeJet focuses on helping retailers and retail software teams
                            integrate their tech stack with modern business and reporting tools.
                        </p>
                        <p>Do you or your customers need:</p>
                        <ul style="padding-left: 20px;">
                            <li><strong>Custom report pipelines</strong></li>
                            <li><strong>API-based integrations with CRM’s or accounting systems</strong></li>
                            <li><strong>Historical data warehousing for reconciliation and better decision-making</strong></li>
                        </ul>
                        <p>
                            We’ve built custom connectors and ETL pipelines for systems like NCR, SAP, Revel, QuickBooks,
                            Sage, Netsuite, and Business Central 365. We also speak your languages: SQL, Python, SSIS,
                            Pyspark, Azure, REST APIs, C#, HTML, JS, Bootstrap, Power Automate, Logic Apps, and more.
                            Our team is a technical extension of your products and services.
                        </p>
                        <ul class="actions">
                            <li><a href="#contact" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <!-- <span class="image"><img src="static/images/pic01.jpg" alt=""/></span>-->
                </div>
            </section>
            <!-- Tech Stack Section -->
            <section id="tech_stack" class="main special">
                <header class="major">
                    <h2 class="bolder-text">Integration and Analytics Tech Stack</h2>
                    <p>Technologies we specialize in</p>
                </header>
                <div class="tech-stack-container">
                    <img src="static/images/tech_stack/powerbi.png" alt="Power BI" class="tech-logo">
                    <img src="static/images/tech_stack/azure.png" alt="Azure" class="tech-logo">
                    <img src="static/images/tech_stack/sql-server.png" alt="SQL Server" class="tech-logo">
                    <img src="static/images/tech_stack/python.png" alt="Python" class="tech-logo">
                    <img src="static/images/tech_stack/Pyspark.png" alt="Pyspark" class="tech-logo">
                    <img src="static/images/tech_stack/logic_apps.png" alt="Logic Apps" class="tech-logo">
                    <img src="static/images/tech_stack/power_automate.png" alt="Power Automate" class="tech-logo">
                    <img src="static/images/tech_stack/csharp.png" alt="C#" class="tech-logo">
                    <img src="static/images/tech_stack/JS.png" alt="JS" class="tech-logo">
                    <img src="static/images/tech_stack/quickbooks.png" alt="QuickBooks" class="tech-logo">
                    <img src="static/images/tech_stack/business_central.png" alt="Business Central 365" class="tech-logo">
                    <img src="static/images/tech_stack/zoho.png" alt="Zoho" class="tech-logo">
                    <img src="static/images/tech_stack/netsuite.png" alt="Netsuite" class="tech-logo">
                    <img src="static/images/tech_stack/sage.png" alt="Sage" class="tech-logo">

                </div>
            </section>
            <!-- Services Section -->
            <section id="services" class="main special">
                <header class="major">
                    <h2 class="bolder-text">Services</h2>
                </header>
                <ul class="features">
                    <li>
                        <i class="icon solid major style1 fa-solid fa-brain"></i>
                        <h2 class="bolder-text">Business Intelligence</h2>
                        <p>
                            You already have a Database but aren’t getting everything out of it that you need. You may have
                            software with an outdated reporting component, or you may not have resources in place to
                            build a BI solution from scratch.
                        </p>
                    </li>
                    <li>
                        <i class="icon solid major style1 fa-solid fa-computer"></i>
                        <h2 class="bolder-text">Software Integration</h2>
                        <p>
                            You may have disparate technologies that can't yet speak to one another. You may need Python, SQL
                            or C# work to weave these systems together. Whether it's formal API's and databases or informal spreadsheets,
                            CodeJet can build you a sustainable solution.
                        </p>
                    </li>
                    <li>
                        <i class="icon solid major style1 fa-solid fa-database"></i>
                        <h2 class="bolder-text">Database Development</h2>
                        <p>
                            You might need ETL work to get your database in working order. CodeJet builds databases with
                            the right end goal in mind—better and faster decisionmaking.
                        </p>
                    </li>
                </ul>
                <footer class="major">
                    <ul class="actions special">
                        <li><a href="#contact" class="button">Learn More</a></li>
                    </ul>
                </footer>
            </section>

            <!-- Use Case Section -->
            <section id="use_case" class="main special">
                <header class="major">
                    <h2 class="bolder-text">Use Cases</h2>
<!--                <p>-->
<!--                    Check out some of our previous solutions!-->
<!--                    <br/>-->
<!--                    posuere. Nulla massa urna, fermentum eget quam aliquet.-->
<!--                </p>-->
                </header>
                <ul class="statistics">
                    <li class="black">
                        <a class="use_black" data-bs-toggle="modal" data-bs-target="#wasteModal">
                            <i class="icon solid fa-solid fa-recycle use_case_icon"></i>
                            <p class="use-case-text">A Waste Recycler needed a forward-looking Inventory Management Tool</p>
                        </a>
                    </li>
                    <li class="red">
                        <a class="use_red" data-bs-toggle="modal" data-bs-target="#facilityModal">
                            <i class="icon solid fa-solid fa-city use_case_icon" ></i>
                            <p class="use-case-text">A Facilities Service Provider wanted their entire program built in Power BI</p>
                        </a>
                    </li>
                    <li class="black">
                        <a data-bs-toggle="modal" data-bs-target="#invoiceModal">
                             <i class="icon solid fa-solid fa-money-check-dollar use_case_icon" ></i>
                             <p class="use-case-text">A Fintech Company needed their entire Invoicing system rebuilt</p>
                        </a>
                    </li>
                    <li class="red">
                        <a data-bs-toggle="modal" data-bs-target="#warehouseModal">
                            <i class="icon solid fa-solid fa-warehouse use_case_icon"></i>
                            <p class="use-case-text">A Retail Chain needed an intelligent Inventory Management System</p>
                        </a>
                    </li>
                </ul>
                <div class="modal fade" id="wasteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                            </div>-->
                            <div class="modal-body">
                                Our team realized the company’s dream of managing incoming goods by determining where and how
                                many current goods in inventory needed to be expelled to create cap space and avoid bottlenecks
                                on the floor.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                   <div class="modal fade" id="facilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                            </div>-->
                            <div class="modal-body">
                                Our team helped realize the company’s goal by providing a suite of dashboards that executive
                                teams used to oversee performance over time, while floor managers and workers adhered to the
                                day-to-day compliance dashboard with near real-time feedback.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                   <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
                            <div class="modal-body">
                                Our team built a Business Intelligence suite that allowed individual invoices to be delivered
                                to customers while giving summarized data and KPI’s to financial management teams.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                   <div class="modal fade" id="warehouseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                            </div>-->
                            <div class="modal-body">
                                Our team built a system that allowed the retail chain to receive suggestions about where
                                low-selling items could be moved to sell quicker. Alternatively, in areas of outpacing
                                demand, the system was able to determine where there was oversupply.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Email Form -->
            <section id="contact" class="main">
                <h2 class="email_header bolder-text">Book your Free Working Session</h2>
                <form method="post" action="/send_email">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="first_name" id="first-name" value="" placeholder="First Name"/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="last_name" id="last-name" value="" placeholder="Last Name"/>
                        </div>
                        <div class="col-12 col-12-xsmall">
                            <input type="email" name="email" id="demo-email" value="" placeholder="Email"/>
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="demo-message" rows="6">Enter your message here...</textarea>
                        </div> <!-- ✅ properly closed -->

                        <div>
                            <button class="button submit email-button text-center" type="submit">Send Message</button>
                        </div>
                    </div>
                    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">

                    <script>
                        grecaptcha.ready(function () {
                            grecaptcha.execute('6LehmW0rAAAAANOuTO8pxfN_WL28pYoIggjREAnT', {action: 'submit'}).then(function (token) {
                                document.getElementById('g-recaptcha-response').value = token;
                            });
                        });
                    </script>
                </form>
            </section>

            <button type="button" class="btn btn-floating btn-lg btn-back-to-top" id="btn-back-to-top">
                  <i class="fa-solid fa-arrow-up"></i>
            </button>
        </div>

        <!-- Footer -->
        <footer id="footer" class="bolder-text">
            <section>
                <img class="footer_img" src="static/images/CodeJet_Final_White.png" >
                <p>
                    CodeJet is dedicated to retailers and retail software teams who need to focus on
                    more important tasks than one-off reporting solutions.
                </p>
            </section>
            <section style="padding-top: 55px;">
                <h2 class="bolder-text">Contact Information </h2>
                <dl class="alt text-align-right">
                    <dt>Phone</dt>
                    <dd>(336) 302-7925</dd>
                    <dt>Email</dt>
                    <dd>jbroach@codejet.app</dd>
                </dl>
<!--                <ul class="icons">-->
<!--                    <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>-->
<!--                    <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>-->
<!--                </ul>-->
            </section>
            <p class="copyright">&copy;Design by: HTML5 UP </a></p>
        </footer>
    </div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>
<script src="static/assets/js/back_to_top.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-226912949-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-226912949-1');
</script>

</body>
</html>
